<header>
    <h1 class="text-primary">Remover Convênio</h1>
</header>
<hr>
<div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert"
*ngIf="mensagens.length > 0">
    {{ mensagens | json }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<h4>
    Deseja realmente excluir o convênio <span class="text-danger">{{ convenio.nome }}</span>?
</h4>

<form class="w-25" #form="ngForm" (ngSubmit)="remover()">
    <input type="hidden" [(ngModel)] = "convenio.id">
    <div class="mt-3">
        <a class="btn btn-success" routerLink="../../">Não</a>
        &nbsp;
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>