@{
    ViewBag.Subtitulo = "P치gina Principal";
}

<h1 class="text-primary">CRUD com ASP.NET Core</h1>
<hr>
<h3 class="text-info">Usu치rios Cadastrados: @ViewBag.QtdeUsuarios</h3>
<hr>
<a class="btn btn-primary" href="/Home/Usuarios">Usu치rios</a>

@section Footer
{
    <span class="text-info">P치gina Principal</span>
} 