@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Bem-vindo ao <b>Controle de Usuários</b></h1>
<hr>

<partial name="_MensagemPartial" />

<p>
    Esta aplicação foi construída para fins didáticos. Ela mostra como utilizar o módulo <b>Identity</b> do ASP.NET Core para permitir que usuários se autentiquem na aplicação e acessem páginas protegidas, de acordo com o perfil de cada usuário.
</p>