@{
    ViewBag.Subtitulo = "Página Para Maiores";
}

<h1 class="text-primary">Página Para Maiores</h1>
<hr>
<p>
    Essa página tem acesso protegido por uma política de acesso criada especialmente para bloquear o acesso de menores de idade a determinadas páginas de um site.
</p>