@{
    ViewBag.Subtitulo = "Página Principal";
}

<h1 class="text-primary">Envio de E-maisl com ASP.NET Core</h1>
<hr>
<p>
    Esta aplicação foi construída para fins didáticos. Ela mostra como <b>enviar e-mails</b> a partir de uma aplicação web ASP.NET Core.
</p>
<a class="btn btn-primary" asp-action="EnviarEmailTeste">Enviar Email de Teste</a>