:root {
    --palette-primary: #3FA9F5;
    --palette-primary-variant: #004CA3;
    --palette-complementary: #F58B3F;
    --palette-complementary-variant: #FFDC58;
    --palette-triadic: #8A0064;
    --palette-background: #FFFFFF;
    --palette-text: #000000;
    --palette-text-variant: #FFFFFF;
    --palette-text-error: #BB0000;
    --bs-body-color: var(--palette-text);
    --font-default: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }

    nav .nav-item {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 14px;
    }

    nav .nav-item {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    nav .nav-item {
        font-size: 24px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    min-height: 100%;
    font-family: var(--font-default);
}

body {
    
}

section {
    min-height: 500px;
}

header {
    width: 100%;
    line-height: 50px;
    padding: 0px 20px 0px 20px;
    background-color: var(--palette-primary-variant);
    color: var(--palette-text-variant);
    font-size: 1rem;
}

header div.separator {
    margin-top: 15px;
    margin-left: 10px;
    height: 20px;
    border-left: 2px solid;
}

nav {
    width: 100%;
    height: 110px;
    background-color: var(--palette-background);
    color: var(--palette-primary);
    padding: 10px 20px 10px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-nav .nav-link {
    color: var(--palette-primary);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--palette-complementary);
    border-top: 2px solid var(--palette-complementary);
}

footer {
    width: 100%;
    background-color: var(--palette-primary-variant);
    color: var(--palette-text-variant);
    padding: 10px 20px 10px 20px;
}

footer .nav-link, footer a, header a {
    color: var(--palette-text-variant);
    text-decoration:none;
}

footer a.active {
    font-weight: bold;
}

header a:hover,
footer .nav-link:hover,
footer a:hover {
    color: var(--palette-complementary);
}

h1{
    color: var(--palette-primary-variant);
    font-size: 30px;
    font-weight: normal;
}

h2{
    color: var(--palette-triadic);
    font-size: 20px;
    font-weight: normal;
}

p{
    font-size: 12px;
}

