<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstitutionalSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InstitutionalSite.styles.css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="d-flex flex-column flex-md-row justify-content-md-between">
            <div class="d-flex flex-row">
                <div>
                    Siga-nos
                </div>
                <div class="separator"></div>
                <div class="ms-2"><a href="#"><i class="bi-envelope"></i></a></div>
                <div class="separator"></div>
                <div class="ms-2"><a href="#"><i class="bi-instagram"></i></a></div>
                <div class="separator"></div>
                <div class="ms-2"><a href="#"><i class="bi-linkedin"></i></a></div>
                <div class="separator"></div>
                <div class="ms-2"><a href="#"><i class="bi-facebook"></i></a></div>
            </div>
            <div class="d-flex flex-column flex-md-row">
                <div class ="ms-0"><a href="#"><i class="bi-telephone"></i> (99)9999-9999</a></div>
                <div class="d-none d-md-block separator"></div>
                <div class="ms-md-2"><a href="#"><i class="bi-geo-alt"></i> Lorem ipsum dolor sit amet, 999</a></div>
                <div class="d-none d-md-block separator"></div>
                    <div class="ms-md-2"><a href="#"><i class="bi-globe"></i> Português</a></div>
            </div>
        </div>
    </header>
    
    <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/img/logo-azul.png" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                <ul class="navbar-nav ms-auto my-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Projetos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Notícias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Eventos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Transparência</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Parceiros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/Privacy">Contato</a>
                    </li>
                    <form class="d-flex ms-4">
                        <button class="btn btn-warning" type="submit"><i class="bi-envelope-paper-heart"></i><span class="d-none d-lg-inline"> Doe Agora</span></button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    
    <section>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </section>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col col-sm-12 col-lg-4">
                    <div class="text-center"><img src="~/img/logo-branco.png" /></div>
                    <div class="text-center">
                        Somos uma organização da sociedade civil sem fins econômicos proveniente da antiga entidade denominada Projeto Social Surf Cibra. (2011-2021).
                        <br />
                        Mantemos o compromisso social e ambiental, acolhendo crianças em situações vulneráveis, a fim de desenvolver suas capacidades físicas, proporcionando saúde e bem-estar, além de valores morais e éticos.
                    </div>
                </div>
                <div class="mb-5 d-lg-none"></div>
                <div class="col col-sm-6 col-lg-2">
                    <div class="text-center"><h2>Menu</h2></div>
                    <div class="text-center">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Sobre</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Projetos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notícias</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Eventos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Transparência</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Parceiros</a>
                            </li>
                        </ul>   
                    </div>
                </div>
                <div class="mb-5 d-sm-none"></div>
                <div class="col col-sm-6 col-lg-3">
                    <div class="text-center"><h2>Contatos</h2></div>
                    <div class="text-left">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi-linkedin"></i>
                                    Linkedin
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi-telephone"></i> 
                                    (99) 9999-9999
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi-envelope"></i>
                                    contato@projetosoulsurf.org
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="bi-geo-alt"></i> 
                                    Lorem ipsum dolor sit amet, 999
                                 </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-5 d-lg-none"></div>
                <div class="col col-sm-12 col-lg-3">
                    <div class="text-center"><h2>Mensagem</h2></div>
                    <div class="text-center">
                        <form>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Nome">
                            </div>
                            <div class="mb-3">
                                <input class="form-control" type="text" placeholder="Email">
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control" id="" placeholder="Mensagem" rows="3"></textarea>
                            </div>
                            <div>
                                <button type="button" class="btn btn-warning"><i class="bi-send"></i> Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mb-5"></div>
            <div class="row">
                <div class="col text-center">
                &copy; 2023 - Projeto SoulSurf - <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>