@using App.TagHelpers

@{
    ViewBag.Titulo = "Exemplo 3 - BoldTagHelper";
}
<p>Esse TagHelper identifica um atributou ou tag criada "bold" e adiciona as tags "strong" envolvendo e destacando o texto  </p>

<p bold>Use this area to provide additional information.</p>

<div>
    <bold> Is this bold?</bold>
</div>