@using App.TagHelpers

@{
    ViewBag.Titulo = "Exemplo 2 - EmailTagHelper";
}
<p>Esse TagHelper identifica uma tag criada "email" e converte para a tag "a" de link </p>

<div>
    <h3>Para saber mais:</h3>
    <email mailTo="wtlmarco@gmail.com"></email> 
</div>