@model UsuarioModel
@{
    ViewBag.Subtitulo = "Exclusão de Usuário";
}

<h1 class="text-primary">@ViewBag.Subtitulo</h1>
<hr>
<h4>Deseja realmente excluir o usuário <b class="text-danger">@Model.UserName</b>?</h4>

<form asp-action="ExcluirPost" class="w-25">
    <input type="hidden" asp-for="@Model.Id">
    <div class="mt-3">
        <a asp-action="Index" class="btn btn-success">Não</a>
        <button class="btn btn-danger" type="submit">Sim</button>
    </div>
</form>