.home{
    max-width: 1440px;  
}

.home-banner, .home-mission, .home-wall, .home-testimonials, .home-news, .home-events, .home-statistics {
    margin: auto;
    width: 90%;
}

/*home-banner*/
#carouselBanner .carousel-item-1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-3 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-caption {
    text-align: left;
    bottom: 1.25rem;
    top:20%;
    left:10%;
    color: white;
}

#carouselBanner .carousel-caption h1 {
    border-bottom: 3px solid white;
    padding-bottom:5px;
    font-size: 80px;
    color: white;
}

#carouselBanner .carousel-caption h2 {
    font-size: 30px;
    color: white;
}

#carouselBanner .carousel-caption p {
    font-size: 20px;
    color: white;
    width: 80%;
}

/*home-mission*/


/*home-team*/
#carouselTeam{
    height: 500px;
}
#carouselTeam .team-container{
    position: relative;
}
#carouselTeam .team-container-info{
    position: absolute;
    top: 330px;
    right: 38px;
    z-index: 10;
    padding: 10px 30px 10px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

/*home-wall*/

/*home-testiomonials*/
#carouselTestimonials {
    height: 450px;
}