.home{
    max-width: 1440px;  
}

#home-banner, #home-mission, #home-team, #home-wall, #home-testimonials, #home-news, .home-events, .home-statistics {
    margin: auto;
    width: 90%;
    margin-top: 20px;
}

/*home-banner*/
#carouselBanner .carousel-item-1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-3 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-caption {
    text-align: left;
    bottom: 1.25rem;
    top:20%;
    left:10%;
    color: white;
}

#carouselBanner .carousel-caption h1 {
    border-bottom: 3px solid white;
    padding-bottom:5px;
    font-size: 80px;
    color: white;
}

#carouselBanner .carousel-caption h2 {
    font-size: 30px;
    color: white;
}

#carouselBanner .carousel-caption p {
    font-size: 20px;
    color: white;
    width: 80%;
}

/*home-mission*/
#home-mission .img-fluid{
    height: 450px;
}

#home-mission h1.title, h3.subtitle, p.info{
    text-align: left;
}

#home-mission span.icon-title{
    color: var(--palette-text);
    font-size: 10px;
}

#home-mission span.icon-item{
    font-size: 50px;
}

#home-mission img{
    height: 80%;
}

/*home-team*/
#carouselTeam{
    height: 450px;
}

#carouselTeam .team-container{
    position: relative;
}

#carouselTeam .team-container-info{
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 10;
    padding: 10px 30px 10px 30px;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

/*home-wall*/

/*home-testiomonials*/
#home-testimonials p, 
#home-testimonials h2, 
#home-testimonials h4, 
#home-testimonials h5{
    text-align: left;
}

#home-testimonials img.minor{
    margin-top: 12.5%;
    width: 80%;
}

#carouselTestimonials {
    height: 450px;
}

/*home-news*/
#home-news h3{
    text-align: center;
}

#home-news div.card-body{
    text-align: left;
}

#home-news div.card{
    position: relative;
}

#home-news div.card-date{
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 10;
    padding: 0 10px 10px 10px;
    background: rgba(0,0,0,0.7);
    color: #fff;
}

#home-news span.card-date-day{
    font-size: 2rem;
}

#home-news span.card-date-month{
    position: absolute;
    top:40px;
    left:14px;
    font-size: 0.6rem;
}

#home-news div.card-footer{
    font-size: 10px;
}