@page
@model IndexModel
@{
    ViewData["Title"] = "Soul Surf - Home page";
}

<style>
    .home{
      background-color: green;
      max-width: 1440px;  
    }
    .home-banner,.carousel-inner{
        width: 100%;
        height: 100%;
    }
    .carousel img{
        max-width: 100%;
        max-height: 100%;
    }
    .carousel-caption{
        top:0%;
        left:0%;
    }
</style>

<div class="home text-center">
    <div class="home-banner">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                    <img src="img/home/banner-1.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="img/home/banner-2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="img/home/banner-3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="home-mission">
        <h1>Nossa Missão e Objetivos</h1>

    </div>
    <div class="home-team">
        <h1>Nosso Time</h1>
    
    </div>
    <div class="home-wall">
        <h1>Mural</h1>

    </div>
    <div class="home-testimonials">
        <h1>Histórias de Impacto</h1>

    </div>
    <div class="home-events">
        <h1>Últimas Notícias</h1>

    </div>
    <div class="home-statistics">
        <h1>Próximos Eventos</h1>

    </div>
    <div class="home-statistics">
        <h1>Faça parte da nossa História</h1>

    </div>
</div>
