.home{
    position: relative;
    max-width: 1440px;
    margin: auto;
}

#home-banner, #home-mission, #home-team, #home-wall, #home-testimonials, #home-news, #home-events, #home-statistics {
    margin: auto;
    width: 90%;
    margin-top: 30px;
}

/*home-banner*/
#carouselBanner .carousel-item-1 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-2 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-item-3 {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('img/home/banner-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
}

#carouselBanner .carousel-caption {
    text-align: left;
    bottom: 1.25rem;
    top:20%;
    left:10%;
    color: var(--palette-text-variant);
}

#carouselBanner .carousel-caption h1 {
    border-bottom: 3px solid var(--palette-text-variant);
    padding-bottom:5px;
    font-size: 80px;
    color: var(--palette-text-variant);
}

#carouselBanner .carousel-caption h2 {
    font-size: 30px;
    color: var(--palette-text-variant);
}

#carouselBanner .carousel-caption p {
    font-size: 20px;
    color: var(--palette-text-variant);
    width: 80%;
}

/*home-mission*/
#home-mission .img-fluid{
    height: 450px;
}

#home-mission h1.title, h3.subtitle, p.info{
    text-align: left;
}

#home-mission span.icon-title{
    color: var(--palette-text);
    font-size: 10px;
}

#home-mission span.icon-item{
    font-size: 50px;
}

#home-mission img{
    height: 80%;
}

/*home-team*/
#carouselTeam{
    height: 450px;
}

#carouselTeam .team-container{
    position: relative;
}

#carouselTeam .team-container-info{
    position: absolute;
    top: 250px;
    right: 0;
    z-index: 10;
    padding: 10px 30px 10px 30px;
    background: rgba(0,0,0,0.7);
    color: var(--palette-text-variant);
}

/*home-wall*/

/*home-testiomonials*/
#home-testimonials p, 
#home-testimonials h2, 
#home-testimonials h4, 
#home-testimonials h5{
    text-align: left;
}

#home-testimonials img.minor{
    margin-top: 12.5%;
    width: 80%;
}

#carouselTestimonials {
    height: 450px;
}

/*home-news*/
#home-news h3{
    text-align: center;
}

#home-news div.card-body{
    text-align: left;
}

#home-news div.card{
    position: relative;
}

#home-news div.card-date{
    position: absolute;
    top: 35%;
    left: 0;
    z-index: 10;
    padding: 0 20px 10px 20px;
    background: rgba(0,0,0,0.7);
    color: var(--palette-text-variant);
}

#home-news span.card-date-day{
    font-size: 3rem;
}

#home-news span.card-date-month{
    position: absolute;
    top:70%;
    left:35%;
    font-size: 0.6rem;
}

#home-news div.card-footer{
    font-size: 10px;
}

/*home-events*/
#home-events div.row > div.description {
    position:relative;
    text-align: left;
    color: var(--palette-text-variant);
    padding: 20px 30px 0px 30px;
}

#home-events div.row > div.description, 
#home-events div.row > div.description > div.link > a
{
    background-color: var(--palette-text);
}

#home-events div.row > div.description.mode-1,
#home-events div.row > div.description.mode-1 > div.link > a
{
    background-color: var(--palette-triadic);
}    

#home-events div.row > div.description.mode-2,
#home-events div.row > div.description.mode-2 > div.link > a
{
    background-color: var(--palette-complementary-variant);
    color:var(--palette-text);
}    

#home-events div.row > div.banner {
    padding: 0;
    margin: 0;
}

#home-events div.row > div.banner > img {
    height:100%;
    width: 100%;
}

#home-events div.row > div.description > div.title{
    font-size: 2.0rem;
}

#home-events div.row > div.description > div.date{
    font-size: 0.8rem;
}


#home-events div.row > div.description > div.text{
    font-size: 0.8rem;
    min-height: 150px;
}

#home-events div.row > div.description > div.link{
    position:absolute;
    font-size: 0.8rem;
    padding: 10px;
    right: 0;
    bottom: 0;
}

#home-events div.row > div.description > div.link > a{
    text-decoration:none;
    color: var(--palette-text-variant);
}

/*home-statistics*/
#home-statistics div.numbers{
    overflow: hidden;
}

#home-statistics div.numbers > div.numbers-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#home-statistics div.numbers > div.numbers-item > div.numbers-item-area-1{
    width: 200px;
    margin-top: 20px;
}

#home-statistics div.numbers > div.numbers-item > div.numbers-item-area-1 > div.numbers-item-area-1-icon > span.icon-item{
    color: var(--palette-triadic);
    font-size: 6.0rem;
    height: 100px;
}

#home-statistics div.numbers > div.numbers-item > div.numbers-item-area-1 > div.numbers-item-area-1-title{
    color: var(--palette-text);
    font-size: 1.0rem;
}

#home-statistics div.numbers > div.numbers-item > div.numbers-item-area-2{
    color: var(--palette-primary);
    font-size: 5.0rem;
    font-weight: bold;
}

#home-statistics div.certifications{
    overflow: hidden;
}

#home-statistics div.certifications > div.certifications-item{
    margin-top:20px;
    color: var(--palette-text);
    font-size: 1.0rem;
    font-weight: bold;
}

#home-statistics div.patterns{
    overflow: hidden;
}

#home-statistics div.patterns > div.patterns-item{
    margin-top:20px;
    color: var(--palette-text);
    font-size: 1.0rem;
    font-weight: bold;
}

#home-statistics #carouselCompanies > div.carousel-indicators {
    top:130px;
}