@page
@model IndexModel
@{
    ViewData["Title"] = "Soul Surf - Home page";
}
<div class="home">
    <div id="home-banner">
        <div id="carouselBanner" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselBanner" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-item-1 active">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Uma ferramenta para introduzir mudanças</h2>
                        <h1>Aulas de Surf</h1>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio, accusamus exercitationem totam qui enim iste tempore laborum eos voluptas, dicta quod eius dolor ea ratione consequatur? Perferendis adipisci repellat voluptates?</p>
                    </div>
                </div>
                <div class="carousel-item carousel-item-2">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Uma ferramenta para introduzir mudanças</h2>
                        <h1>Treinamento Funcional</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum unde! Iusto nesciunt laudantium officia quam dolorem voluptas optio libero, at rem expedita ipsam fuga, ut animi impedit voluptatem adipisci!</p>
                    </div>
                </div>
                <div class="carousel-item carousel-item-3">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Uma ferramenta para introduzir mudanças</h2>
                        <h1>Competições</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, ipsum unde! Iusto nesciunt laudantium officia quam dolorem voluptas optio libero, at rem expedita ipsam fuga, ut animi impedit voluptatem adipisci!</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBanner" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBanner" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div id="home-mission" class="container text-center">
        <div class="row">
            <div class="col">
                <img src="img/home/mission.png" alt="Missão e Objetivos" class="img-fluid">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h1 class="title">Nossa Missão e Objetivos</h1>
                        <h3 class="subtitle">Fortalecer a crença da superação e de que vencer o inesperado é possível.</h3>
                        <p class="info">Nós promovemos a inclusão social de crianças e adolescentes em situação de vulnerabilidade física, emocional, afetiva, cognitiva ou social em projetos educacionais, esportivos, culturais e ambientais através do surf.</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">diversity_2</span>
                        </h2>
                        <span class="icon-title">RESPEITO</span>
                    </div>
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">rocket_launch</span>
                        </h2>
                        <span class="icon-title">AUTOESTIMA</span>
                    </div>
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">handshake</span>
                        </h2>
                        <span class="icon-title">FRATERNIDADE</span>
                    </div>
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">hiking</span>
                        </h2>
                        <span class="icon-title">AUTOCONFIANÇA</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">accessibility</span>
                        </h2>
                        <span class="icon-title">SOLIDARIEDADE</span>
                    </div>
                    <div class="col">
                        <h2>
                            <span class="icon-item material-symbols-outlined">family_restroom</span>
                        </h2>
                        <span class="icon-title">FAMÍLIA</span>
                    </div>
                    <div class="col">
                        <h2>
                            <span class="icon-item  material-symbols-outlined">diversity_1</span>
                        </h2>
                        <span class="icon-title">EMPATIA</span>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button class="btn btn-warning" type="submit"><i class="bi-envelope-paper-heart"></i><span class="d-none d-lg-inline"> Conheça nossos projetos</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-team" class="container text-center">
        <div class="row">
            <div class="col">
                <h1>Nosso Time</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div id="carouselTeam" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-theme="dark" data>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselTeam" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-1 active">
                            <div class="row">
                                <div class="col-3">
                                    <div class="team-container">
                                        <img src="img/home/profissional-1.png" alt="..." class="img-fluid">
                                        <div class="team-container-info">
                                            Paulo Roberto<br>
                                            <b>Professor de Surf</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="team-container">
                                        <img src="img/home/profissional-2.png" alt="..." class="img-fluid">
                                        <div class="team-container-info">
                                            Paulo Roberto<br>
                                            <b>Professor de Surf</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="team-container">
                                        <img src="img/home/profissional-3.png" alt="..." class="img-fluid">
                                        <div class="team-container-info">
                                            Paulo Roberto<br>
                                            <b>Professor de Surf</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="team-container">
                                        <img src="img/home/profissional-4.png" alt="..." class="img-fluid">
                                        <div class="team-container-info">
                                            Paulo Roberto<br>
                                            <b>Professor de Surf</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-wall" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Mural</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <div class="row">
                    <div class="col">
                        <img src="img/home/mural-3.png" alt="..." class="img-fluid">
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col">
                        <img src="img/home/mural-4.png" alt="..." class="img-fluid">
                    </div>
                    <div class="col">
                        <img src="img/home/mural-5.png" alt="..." class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="col-3">
                <img src="img/home/mural-2.png" alt="..." class="img-fluid">
            </div>
            <div class="col-3">
                <img src="img/home/mural-6.png" alt="..." class="img-fluid">
                <div class="pt-3"></div>
                <img src="img/home/mural-1.png" alt="..." class="img-fluid">
            </div>
        </div>
    </div>
    <div id="home-testimonials" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Histórias de Impacto</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div id="carouselTestimonials" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-theme="dark" data>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselTestimonials" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-1 active">
                            <div class="row">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-4">
                                            <img src="img/home/testimonials-1-1.png" alt="..." class="img-fluid">
                                        </div>
                                        <div class="col-8 mt-3">
                                            <h2>Patrícia</h2>
                                            <h5>Mãe do Henrique</h5>
                                            <h4>Tempo Positivo!!!</h4>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col">
                                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex molestiae eaque quia nihil, ipsam cum facere ab iure illo tempora temporibus dolore at officia ipsum blanditiis. Veritatis ipsam consectetur accusantium.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img src="img/home/testimonials-1-2.png" alt="..." class="img-fluid">
                                </div>
                                <div class="col-3">
                                    <img src="img/home/testimonials-1-3.png" alt="..." class="img-fluid minor">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-news" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Últimas Notícias</h1>
            </div>
        </div>
        <div class="row row-cols-3 mt-3">
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="img/home/news-1.png" alt="...">
                    <div class="card-date">
                        <span class="card-date-day">18</span><br>
                        <span class="card-date-month">JUNHO</span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Curso Primeiros Socorros</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et quam ab dolorum perferendis, aut earum, suscipit velit, natus aliquid necessitatibus ratione harum? Quod esse expedita distinctio, quasi eveniet dolores.</p>
                    </div>
                    <div class="card-footer">
                        <div style="float:left">
                            <i class="bi-heart-fill"></i> 10 curtidas
                        </div>
                        <div style="float:right">
                            <i class="bi-chat-dots"></i> 5 comentários
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="img/home/news-2.png" alt="...">
                    <div class="card-date">
                        <span class="card-date-day">18</span><br>
                        <span class="card-date-month">JUNHO</span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Suji Social</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et quam ab dolorum perferendis, aut earum, suscipit velit, natus aliquid necessitatibus ratione harum? Quod esse expedita distinctio, quasi eveniet dolores.</p>
                    </div>
                    <div class="card-footer">
                        <div style="float:left">
                            <i class="bi-heart-fill"></i> 10 curtidas
                        </div>
                        <div style="float:right">
                            <i class="bi-chat-dots"></i> 5 comentários
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img class="card-img-top" src="img/home/news-3.png" alt="...">
                    <div class="card-date">
                        <span class="card-date-day">18</span><br>
                        <span class="card-date-month">JUNHO</span>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Curso de Educação Financeira</h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt et quam ab dolorum perferendis, aut earum, suscipit velit, natus aliquid necessitatibus ratione harum? Quod esse expedita distinctio, quasi eveniet dolores.</p>
                    </div>
                    <div class="card-footer">
                        <div style="float:left">
                            <i class="bi-heart-fill"></i> 10 curtidas
                        </div>
                        <div style="float:right">
                            <i class="bi-chat-dots"></i> 5 comentários
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="home-events" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Próximos Eventos</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="description col-3">
                <div class="date">12 de Março de 2023</div>
                <div class="title">Trufa Solidária</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est hic repudiandae facere voluptas molestiae alias. Eius laudantium quae modi ut corporis fuga suscipit distinctio incidunt totam consequuntur eaque, consectetur unde?</div>
                <div class="link"><a href=""><i class="bi-envelope"></i> Saiba Mais</a></div>
            </div> 
            <div class="banner col-3">
                <img src="img/home/events-2.png" alt="..." class="img-fluid">
            </div>
            <div class="description mode-1 col-3">
                <div class="date">12 de Março de 2023</div>
                <div class="title">Confraternização dos Alunos</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est hic repudiandae facere voluptas molestiae alias. Eius laudantium quae modi ut corporis fuga suscipit distinctio incidunt totam consequuntur eaque, consectetur unde?</div>
                <div class="link"><a href=""><i class="bi-envelope"></i> Saiba Mais</a></div>
            </div>
            <div class="banner col-3">
                <img src="img/home/events-4.png" alt="..." class="img-fluid">
            </div>
        </div>
        <div class="row">
            <div class="banner col-3">
                <img src="img/home/events-1.png" alt="..." class="img-fluid">
            </div>
            <div class="description mode-2 col-3">
                <div class="date">12 de Março de 2023</div>
                <div class="title">Curso de Previsão de Ondas</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est hic repudiandae facere voluptas molestiae alias. Eius laudantium quae modi ut corporis fuga suscipit distinctio incidunt totam consequuntur eaque, consectetur unde?</div>
                <div class="link"><a href=""><i class="bi-envelope"></i> Saiba Mais</a></div>
            </div>
            <div class="banner col-3">
                <img src="img/home/events-3.png" alt="..." class="img-fluid">
            </div>
            <div class="description col-3">
                <div class="date">12 de Março de 2023</div>
                <div class="title">Campeonato Itanhaense de Surf</div>
                <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est hic repudiandae facere voluptas molestiae alias. Eius laudantium quae modi ut corporis fuga suscipit distinctio incidunt totam consequuntur eaque, consectetur unde?</div>
                <div class="link"><a href=""><i class="bi-envelope"></i> Saiba Mais</a></div>
            </div>
        </div>
    </div>
    <div id="home-statistics" class="container text-center">
        <div class="row">
            <div class="col-12">
                <h1>Faça parte da nossa História</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-3">
                <h4>Instituiçoes Parceiras</h4>
                <div class="patterns">
                    <div class="patterns-item"><img src="img/home/partners-1.png" alt="..."></div>
                    <div class="patterns-item"><img src="img/home/partners-2.png" alt="..."></div>
                    <div class="patterns-item"><img src="img/home/partners-3.png" alt="..."></div>
                    <div class="patterns-item"><img src="img/home/partners-4.png" alt="..."></div>
                </div>
            </div>
            <div class="col-6">
                <h4>Números</h4>
                <div class="numbers">
                    <div class="numbers-item">
                        <div class="numbers-item-area-1">
                            <div class="numbers-item-area-1-icon"><span class="icon-item material-symbols-outlined">handshake</span></div>
                            <div class="numbers-item-area-1-title">Voluntários</div>
                        </div>
                        <div class="numbers-item-area-2">15</div>
                    </div>
                    <div class="numbers-item">
                        <div class="numbers-item-area-1">
                            <div class="numbers-item-area-1-icon"><span class="icon-item material-symbols-outlined">face_2</span></div>
                            <div class="numbers-item-area-1-title">Crianças Atendidas</div>
                        </div>
                        <div class="numbers-item-area-2">70</div>
                    </div>
                    <div class="numbers-item">
                        <div class="numbers-item-area-1">
                            <div class="numbers-item-area-1-icon"><span class="icon-item material-symbols-outlined">hub</span></div>
                            <div class="numbers-item-area-1-title">Famílias Impactads</div>
                        </div>
                        <div class="numbers-item-area-2">+280</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <h4>Certificações</h4>
                <div class="certifications">
                    <div class="certifications-item">
                        <div class="certifications-item-ico"><img src="img/home/certifications-1.png" alt="..."></div>
                        <div class="certifications-item-title">
                            CEBAS<br>Certificado de Entidade Beneficiente de Assistência Social
                        </div>
                    </div>
                    <div class="certifications-item">
                        <div class="certifications-item-ico"><img src="img/home/certifications-2.png" alt="..."></div>
                        <div class="certifications-item-title">
                            OSCIP<br>Organização da Sociedade Civil de Interesse Público
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-warning" type="submit"><i class="bi-envelope-paper-heart"></i><span class="d-none d-lg-inline"> Doe Agora</span></button>
            </div>
        </div>
        <div class="row mt-4">
            <h4>Empresas Colaboradoras</h4>
            <div class="companies">
                <div id="carouselCompanies" class="carousel carousel-dark slide" data-bs-ride="carousel" data-bs-theme="dark" data>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselCompanies" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselCompanies" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselCompanies" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item carousel-item-1 active">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="companies-item">
                                    <img src="img/home/collaborators-1.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-2.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-3.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-4.png" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="companies-item">
                                    <img src="img/home/collaborators-1.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-2.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-3.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-4.png" alt="...">
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex flex-row justify-content-between">
                                <div class="companies-item">
                                    <img src="img/home/collaborators-1.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-2.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-3.png" alt="...">
                                </div>
                                <div class="companies-item">
                                    <img src="img/home/collaborators-4.png" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4"></div>
    </div>
</div>
