<header>
    <h1 class="text-primary">Atualizar Paciente</h1>
</header>
<hr>
<div class="alert alert-warning mt-3 alert-dismissible fade show" role="alert"
*ngIf="mensagens.length > 0">
    {{ mensagens | json }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<form class="row" #form="ngForm" (ngSubmit)="atualizar()">
    <input type="hidden" [(ngModel)]="paciente.id">
    <div class="form-group col-sm-4 col-lg-3">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" 
        [(ngModel)] = "paciente.nome" autofocus>
    </div>
    <div class="form-group col-sm-8 col-lg-5">
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome" class="form-control" 
        [(ngModel)] = "paciente.sobrenome">
    </div>
    <div class="w-100"></div>
    <div class="form-group col-sm-4 col-lg-4">
        <label for="dataDeNascimento">Data de Nascimento</label>
        <input type="date" id="dataDeNascimento" name="dataDeNascimento" class="form-control" 
        [ngModel]= "paciente.dataDeNascimento | date:'yyyy-MM-dd'"
        (ngModelChange)="paciente.dataDeNascimento = $event">
    </div>
    <div class="form-group col-sm-4 col-lg-4">
        <label for="genero">Gênero</label>
        <select id="genero" name="genero" class="form-control" [(ngModel)]="paciente.genero">
            <option value="" disabled selected>Selecione...</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
        </select>
    </div>
    <div class="w-100"></div>
    <div class="form-group col-sm-4 col-lg-2">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" class="form-control"
        placeholder="999.999.999-99"
        [imask]="{mask: '000.000.000-00'}" [unmask]="true"
        [(ngModel)] = "paciente.cpf">
    </div>
    <div class="form-group col-sm-4 col-lg-2">
        <label for="rg">RG</label>
        <input type="text" id="rg" name="rg" class="form-control"
        [(ngModel)] = "paciente.rg">
    </div>
    <div class="form-group col-sm-2 col-lg-2">
        <label for="ufDoRG">UF</label>
        <select id="ufDoRG" name="ufDoRG" class="form-control" [(ngModel)]="paciente.ufDoRG">
            <option value="" disabled selected>Selecione...</option>
            <option value="AC">Acre</option>
            <option value="AL">Alagoas</option>
            <option value="AP">Amapá</option>
            <option value="AM">Amazonas</option>
            <option value="BA">Bahia</option>
            <option value="CE">Ceará</option>
            <option value="DF">Distrito Federal</option>
            <option value="ES">Espírito Santo</option>
            <option value="GO">Goiás</option>
            <option value="MA">Maranhão</option>
            <option value="MT">Mato Grosso</option>
            <option value="MS">Mato Grosso do Sul</option>
            <option value="MG">Minas Gerais</option>
            <option value="PA">Pará</option>
            <option value="PB">Paraíba</option>
            <option value="PR">Paraná</option>
            <option value="PE">Pernambuco</option>
            <option value="PI">Piauí</option>
            <option value="RJ">Rio de Janeiro</option>
            <option value="RN">Rio Grande do Norte</option>
            <option value="RS">Rio Grande do Sul</option>
            <option value="RO">Rondônia</option>
            <option value="RR">Roraima</option>
            <option value="SC">Santa Catarina</option>
            <option value="SP">São Paulo</option>
            <option value="SE">Sergipe</option>
            <option value="TO">Tocantins</option>
            <option value="EX">Estrangeiro</option>
        </select>
    </div>
    <div class="w-100"></div>
    <div class="form-group col-sm-6 col-lg-4">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control"
        placeholder="name@example.com" 
        [(ngModel)] = "paciente.email">
    </div>
    <div class="form-group col-sm-3 col-lg-2">
        <label for="celular">Celular</label>
        <input type="text" id="celular" name="celular" class="form-control"
        placeholder="(99) 99999-9999"
        [imask]="{mask: '(00) 00000-0000'}" [unmask]="true"
        [(ngModel)] = "paciente.celular">
    </div>
    <div class="form-group col-sm-3 col-lg-2">
        <label for="telefoneFixo">Telefone Fixo</label>
        <input type="text" id="telefoneFixo" name="telefoneFixo" class="form-control"
        placeholder="(55) 5555-5555"
        [imask]="{mask: '(00) 0000-0000'}" [unmask]="true"
        [(ngModel)] = "paciente.telefoneFixo">
    </div>
    <div class="w-100"></div>
    <div class="form-group col-sm-4 col-lg-4">
        <label for="convenioID">Convênio</label>
        <select id="convenioID" name="convenioID" class="form-control" 
        [(ngModel)]="paciente.convenioID">
            <option value="" disabled selected>Selecione...</option>
            <option *ngFor="let convenio of convenios" value="{{ convenio.id }}">{{ convenio.nome }}</option>
        </select>
    </div>
    <div class="form-group col-sm-4 col-lg-2">
        <label for="carteirinhaDoConvenio">Carteirinha</label>
        <input type="text" id="carteirinhaDoConvenio" name="carteirinhaDoConvenio" class="form-control" 
        [(ngModel)] = "paciente.carteirinhaDoConvenio">
    </div>
    <div class="form-group col-sm-4 col-lg-2">
        <label for="validadeDaCarteirinha">Validade</label>
        <input type="month" id="validadeDaCarteirinha" name="validadeDaCarteirinha" class="form-control" 
        [ngModel] = "paciente.validadeDaCarteirinha | date:'yyyy-MM'"
        (ngModelChange)="paciente.validadeDaCarteirinha = $event">
    </div>
    <div class="mt-3">
        <a class="btn btn-outline-secondary" routerLink="../../">Cancelar</a>
        &nbsp;
        <button class="btn btn-primary" type="submit">Atualizar</button>
    </div>
</form>