<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="c:\temp\internal-nlog-SoulSurf.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<variable name="logDirectory" value="${basedir:processDir=true}/log" />
	<targets>
		<target xsi:type="File" 
				name="informationFile" 
				fileName="${logDirectory}/info.log"
				keepFileOpen="false"
				archiveFileName="{#}-info.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				layout="${longdate}|${callsite:className=True:methodName=True}|${message}" />

		<target xsi:type="File" 
				name="debugFile"
				fileName="${logDirectory}/debug.log"
				keepFileOpen="false"
				archiveFileName="{#}-debug.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				layout="${longdate}|${level}|${callsite:className=True:methodName=True}|${message}" />

		<target xsi:type="File"
				name="errorFile"
				fileName="${logDirectory}/error.log"
				keepFileOpen="false"
				archiveFileName="{#}-error.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				layout="${longdate}|${callsite:className=True:methodName=True}|${message}${newline}${exception:format=tostring}${newline}${stacktrace}" />

		<target xsi:type="ColoredConsole"
				name="lifetimeConsole" 
				layout="${MicrosoftConsoleLayout}" />
	</targets>

	<rules>
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Trace" writeTo="lifetimeConsole" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
		
		<logger name="*" level="Info" writeTo="informationFile" />
		<logger name="*" minlevel="Debug" writeTo="debugFile" />
		<logger name="*" level="Error" writeTo="errorFile" />
	</rules>
</nlog>