@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using App.Extensions
@inject UserManager<UsuarioModel> _userManager

@if(Context.User.Identity.IsAuthenticated)
{
    var usuario = await _userManager.GetUserAsync(Context.User);
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-info" href="#" role="button" data-bs-toggle="dropdown">
            Olá, <b>@usuario.NomeCompleto.PrimeiraPalavra()</b>!
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Alterar">Alterar Dados Cadastrais</a>

                <a class="dropdown-item" asp-controller="Usuario" asp-action="AlterarSenha">Alterar Senha</a>
            </li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Logout" classes-if-active="disabled">Sair</a>
            </li>
        </ul>
    </li>
}
else
{
    <a class="nav-link pe-0" asp-controller="Usuario" asp-action="Login">Entrar</a>
}