@model App.Models.Imagem

@{
    ViewBag.Titulo = $"Aplicação de Efeito";
}

<form asp-action="AplicarEfeito" method="post">
    <input type="hidden" name="id" value="@Model.IdImagem">
    <div class="form-group mt-3">
        <img src="@Model.CaminhoImagem" class="img-thumbnail" width="300" id="imgAtual">
    </div>
    <div class="form-group mt-3">
        <button class="btn btn-sm btn-success" asp-route-efeito="rr" asp-action="AplicarEfeito" title="Rotacionar à direita">
            <i class="bi bi-arrow-clockwise"></i>
        </button>
        <button class="btn btn-sm btn-success" asp-route-efeito="rl" asp-action="AplicarEfeito" title="Rotacionar à esquerda">
            <i class="bi bi-arrow-counterclockwise"></i>
        </button>
        <button class="btn btn-sm btn-success" asp-route-efeito="ih" asp-action="AplicarEfeito" title="Inverter horizontalmente">
            <i class="bi bi-arrow-left-right"></i>
        </button>
        <button class="btn btn-sm btn-success" asp-route-efeito="iv" asp-action="AplicarEfeito" title="Inverter verticalmente">
            <i class="bi bi-arrow-down-up"></i>
        </button>
        <button class="btn btn-sm btn-dark" asp-route-efeito="gs" asp-action="AplicarEfeito" title="Escala de Cinza">
            <i class="bi bi-image-alt"></i>
        </button>
        <button class="btn btn-sm btn-dark" asp-route-efeito="sp" asp-action="AplicarEfeito" title="Sépia">
            <i class="bi bi-funnel"></i>
        </button>
        <button class="btn btn-sm btn-dark" asp-route-efeito="ng" asp-action="AplicarEfeito" title="Negativo">
            <i class="bi bi-file-image-fill"></i>
        </button>
        <button class="btn btn-sm btn-dark" asp-route-efeito="df" asp-action="AplicarEfeito" title="Desfoque">
            <i class="bi bi-eraser"></i>
        </button>
    </div>
</form>
<div class="form-group mt-3">
    <a asp-action="Index" asp-route-id="@Model.IdGaleria" class="btn btn-secondary">Voltar para a Galeria</a>
</div>

@section Scripts{
    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            var img = document.querySelector("#imgAtual");
            img.src = img.src + '?' + new Date().getTime();
        });
    </script>
}